@import "~semantic-ui-css/semantic.min.css";

html,
body {
  user-select: none;
  cursor: default;
}

img {
  -webkit-user-drag: none;
}

.space-top {
  margin-top: 20px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.footer-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  color: gray;
  font-size: 13px;
  padding: 0 20px !important;

  span {
    cursor: pointer;
    margin-right: 20px;
  }
}
